@mixin flexBox($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin font($fontSize, $weight) {
    font-size: $fontSize;
    font-weight: $weight;
}
@mixin size($width, $height, $margin, $padding) {
    width: $width;
    height: $height;
    margin: $margin;
    padding: $padding;
}
@mixin color($color, $bgColor) {
    color: $color;
    background-color: $bgColor;
}