* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
@font-face {
    font-family: 'Gilroy','sanserif' ;
    src: url('../font/Gilroy-Black.ttf') format('ttf');
}

html {
    font-family: 'Gilroy',sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
    
} 

